<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>

<body>
  <center>  Welcome
    <div>
      <input type='text' id="new_listing_name" placeholder="Please enter property name..."></input><br>
      <textarea id="new_listing_description" rows="4" cols="50" placeholder="Please enter a description about your property..."></textarea><br>
      <input type='text' id="new_listing_price" placeholder="Cost per night"></input><br>
      Please enter dates available: <br><input type="text" id="datepicker"><br>
      <button id="new_listing_button" class="new_listing_button">Post New Listing</button>
    </div>
    <br>
    <table id="listings_table">
    </table>
</body>

</html>

<script src="/src/property.js"></script>
<script src="/src/user.js"></script>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/src/property_interface.js"></script>
