<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <script src="/styles/jquery.min.js"></script>
  <script src="/styles/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/styles/style.css"/>
  <script src="/src/property.js"></script>
  <script src="/src/booking.js"></script>
  <script src="/src/user.js"></script>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/src/property_interface.js"></script>
</head>

<body class="fontAv">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand fontAv" href="#">Makers B'n'B</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active fontAv"><a href="/">Home</a></li>
          <li class="active fontAv"><a id="view_bookings" href="/properties/view_all/">View Properties</a></li>
          <li class="active fontAv"><a id="view_bookings" href="/booking/all/">View Bookings</a></li>
          <li class="active fontAv"><a id="log_out_link" href="/">Log Out</a></li>
        </ul>
      </div>
    </nav>
  <center>  <h3 class="bottom">Welcome <span id="logged_in_username"></span>!</h3>

     <div id='new_listing_table' class="inliner" style='position: absolute'>
       <input type='text' id="new_listing_name" name="name" placeholder="Please enter property name..." class="form-control"></input><br>
       <textarea id="new_listing_description" rows="4" cols="50" placeholder="Please enter a description about your property..." class="form-control"></textarea><br>
       <input type='text' id="new_listing_price" placeholder="Cost per night" class="form-control"></input><br>
       <h5 class="zero">Please enter dates available:</h5> <br><input type="text" id="datepicker" class="form-control"><br>
       <br>
       <button id="new_listing_button" class="new_listing_button btn btn-primary active">Post New Listing</button>
       <button id="view_properties_button" class="new_listing_button btn btn-primary active">View Properties</button>
     </div>
   <br><div  class="inliner" style='position: absolute'>
     <div id='listings_div'></div>
   </div>
 <footer style='position: absolute; bottom: 10px; left: 50%;' class="page-footer font-small blue top page-bottom">


        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright
          <a href="#"> Cambridge Analytica</a>
        </div>
        <!-- Copyright -->

      </footer>
</body>

</html>
