<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../public/styles/index.css">
</head>

<body>
  <center><div>
    <textarea id="new_listing_textbox" rows="4" cols="50" placeholder="Please enter property name..."></textarea>
    <button id="new_listing_button" class="new_listing_button">Post New Listing</button>
  </div>
  <br>
  <table id="listings_table">
  </table>
</body>


</html>

<script src="../public/src/property.js"></script>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../public/src/user_interface.js"></script>
