<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../public/styles/index.css">
</head>

<body>
  <center><div>
<h2>Welcome to Cambri.... We mean Makers B'n'B</h2>
<form action="/user/login/" method="get" >
    <button id="login_button" class="new_listing_button">Log In</button>
  </form>
  <form action="/user/new/" method="get" >
    <button class="new_listing_button">Sign Up</button></form>
  </div>
  <br>
</body>



</html>

<script src="../public/src/property.js"></script>
<script src="../public/src/user.js"></script>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../public/src/index_interface.js"></script>
