<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../public/styles/index.css">
</head>

<body>
  <center><div>
<h2>Welcome to Cambri.... We mean MakersB'n'B</h2>
    <button id="login_button" class="new_listing_button">Log In</button>
    <button id="signup_button" class="new_listing_button">Sign Up</button>
  </div>
  <br>
</body>


</html>

<script src="../public/src/property.js"></script>
<script src="../public/src/user.js"></script>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../public/src/property_interface.js"></script>
