<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="public/styles/index.css">
</head>

<body>
  <center><div>
    <textarea id="new_username_textbox" rows="1" cols="20" placeholder="Please enter username..."></textarea><br>
    <textarea id="new_password_textbox" rows="1" cols="20" placeholder="Please enter password..."></textarea><br>
    <textarea id="new_firstname_textbox" rows="1" cols="20" placeholder="Please enter first name..."></textarea><br>
    <textarea id="new_surname_textbox" rows="1" cols="20" placeholder="Please enter surname..."></textarea><br>
    <textarea id="new_email_textbox" rows="1" cols="20" placeholder="Please enter email..."></textarea><br>
    <button id="new_user_button" class="new_listing_button">Sign Up</button>
  </div>
  <br>
</body>


</html>

<script src="../public/src/property.js"></script>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../public/src/property_interface.js"></script>
