<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../public/styles/index.css">
</head>

<body>
  <center><div>
    <input type="text" id="username_textbox" placeholder="Please enter username..."></><br>
    <input type="password" id="password_textbox" placeholder="Please enter password..."></textarea><br>
    <button id="login_button" class="new_listing_button">Log In</button>
    <p id='incorrect_password'> </p>
  </div>
  <br>
</body>


</html>

<!-- <script src="/src/property.js"></script> -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/src/user.js"></script>
<script src="/src/user_login_interface.js"></script>
<!-- <script src="/src/property_interface.js"></script> -->
