<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>

<body>
  <center>
    <div>
      <input type="text" id="new_username_textbox" name="username" placeholder="Please enter username..."></><br>
      <input type="password" id="new_password_textbox" name="password" placeholder="Please enter password..."><br>
      <input type="text" id="new_firstname_textbox" name="first_name" placeholder="Please enter first name..."><br>
      <input type="text" id="new_surname_textbox" name="surname" placeholder="Please enter surname..."><br>
      <input type="text" id="new_email_textbox" name="email" placeholder="Please enter email..."><br>
      <button id="new_user_button" name="sign_up" class="new_listing_button">Sign Up</button>
    </div>
    <br>
</body>


</html>

<script src="/src/property.js"></script>
<script src="/src/user.js"></script>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/src/user_new_interface.js"></script>
