<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/styles/style.css"/>
  <script src="/src/property.js"></script>
  <script src="/src/user.js"></script>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/src/user_new_interface.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand fontAv" href="#">Makers B'n'B</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active fontAv"><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <center>
    <div>
        <h3 class="bottom">Sign Up</h3>

      <input type="text" id="new_username_textbox" name="username" placeholder="Please enter username..." class="form-control"><br>
      <input type="password" id="new_password_textbox" name="password" placeholder="Please enter password..." class="form-control"><br>
      <input type="text" id="new_firstname_textbox" name="first_name" placeholder="Please enter first name..." class="form-control"><br>
      <input type="text" id="new_surname_textbox" name="surname" placeholder="Please enter surname..." class="form-control"><br>
      <input type="text" id="new_email_textbox" name="email" placeholder="Please enter email..." class="form-control"><br>
      <br>
      <button id="new_user_button" name="sign_up" class="new_listing_button btn btn-primary active btnWidth fontAv">Sign Up</button>
    </div>
    <br>

    <footer class="page-footer font-small blue page-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright
          <a href="#"> Cambridge Analytica</a>
        </div>
        <!-- Copyright -->

      </footer>
</body>


</html>
