<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../public/styles/index.css">
</head>

<body>
  <center><div>
    <input type="text" id="new_username_textbox" placeholder="Please enter username..."></><br>
    <input type="password" id="new_password_textbox" placeholder="Please enter password..."></textarea><br>
    <input type="text" id="new_firstname_textbox" placeholder="Please enter first name..."></textarea><br>
    <input type="text" id="new_surname_textbox" placeholder="Please enter surname..."></textarea><br>
    <input type="text" id="new_email_textbox" placeholder="Please enter email..."></textarea><br>
    <button id="new_user_button" class="new_listing_button">Sign Up</button>
  </div>
  <br>
</body>


</html>

<script src="../../public/src/property.js"></script>
<script src="../../public/src/user.js"></script>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../public/src/property_interface.js"></script>
