.btnWidth {
    width: 8rem;
}
  
.fontAv {
  font-family: Avenir;
}

.form-control{
  width: 25rem;
}

.bottom {
  margin-bottom: 30px;
}

.top {
  margin-top: 40rem;
}

.page-bottom {
  margin-top: 30rem;
}

.page-footer2 {
  margin-top: 40rem;
}

.zero {
  margin: 0;
}
  